[Unit]
Description="uwsgi profiles"
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
KillSignal=SIGQUIT
Type=notify
Restart=on-failure
Environment="LANG=en_US.UTF-8"
{% if pillar.elife.newrelic.enabled %}
Environment="NEW_RELIC_CONFIG_FILE=/srv/profiles/newrelic.ini"
ExecStart=/srv/profiles/venv/bin/newrelic-admin run-program /srv/profiles/venv/bin/uwsgi --enable-threads --die-on-term --ini /srv/profiles/uwsgi.ini
{% else %}
ExecStart=/srv/profiles/venv/bin/uwsgi --die-on-term --ini /srv/profiles/uwsgi.ini
{% endif %}
